/* open-sans-regular - latin_cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/open-sans/open-sans-v18-latin_cyrillic-regular.eot"); /* IE9 Compat Modes */
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
    url("../fonts/open-sans/open-sans-v18-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/open-sans/open-sans-v18-latin_cyrillic-regular.woff2") format("woff2"),
    url("../fonts/open-sans/open-sans-v18-latin_cyrillic-regular.woff") format("woff"),
    url("../fonts/open-sans/open-sans-v18-latin_cyrillic-regular.ttf") format("truetype"),
    url("../fonts/open-sans/open-sans-v18-latin_cyrillic-regular.svg#OpenSans") format("svg");
}
/* open-sans-600 - latin_cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/open-sans/open-sans-v18-latin_cyrillic-600.eot"); /* IE9 Compat Modes */
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"),
    url("../fonts/open-sans/open-sans-v18-latin_cyrillic-600.eot?#iefix") format("embedded-opentype"),
    url("../fonts/open-sans/open-sans-v18-latin_cyrillic-600.woff2") format("woff2"),
    url("../fonts/open-sans/open-sans-v18-latin_cyrillic-600.woff") format("woff"),
    url("../fonts/open-sans/open-sans-v18-latin_cyrillic-600.ttf") format("truetype"),
    url("../fonts/open-sans/open-sans-v18-latin_cyrillic-600.svg#OpenSans") format("svg");
}
/* open-sans-700 - latin_cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/open-sans/open-sans-v18-latin_cyrillic-700.eot"); /* IE9 Compat Modes */
  src: local("Open Sans Bold"), local("OpenSans-Bold"),
    url("../fonts/open-sans/open-sans-v18-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"),
    url("../fonts/open-sans/open-sans-v18-latin_cyrillic-700.woff2") format("woff2"),
    url("../fonts/open-sans/open-sans-v18-latin_cyrillic-700.woff") format("woff"),
    url("../fonts/open-sans/open-sans-v18-latin_cyrillic-700.ttf") format("truetype"),
    url("../fonts/open-sans/open-sans-v18-latin_cyrillic-700.svg#OpenSans") format("svg");
}

:root {
  --main-text-cl: #555;
  --accent-cl: #ff6c00;
  --black: #303030;
  --gray: #9da480;
  --white: #fff;
  --dark-bg: #191c26;
  --light-grey: #f7f7f7;
}
html {
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 1.667;
  letter-spacing: 0.02em;
  color: var(--main-text-cl);
}
img {
  display: block;
  /*   max-width: 100%;
 */
  height: auto;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
}

p {
  margin-bottom: 20px;
}

address {
  font-style: normal;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

/*   outline: 1px solid red;
 */}

.section {
  padding-top: 130px;
  padding-bottom: 130px;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  color: inherit;
  color: var(--main-text-cl);
}

.link:hover,
.link:focus {
  color: var(--accent-cl);
}

.btn {
  display: inline-block;
  padding: 12px 20px;
  border: 1px solid var(--accent-cl);
  border-radius: 25px;

  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--black);
  background-color: transparent;
}

/* HEADER */
.header {
  background: var(--dark-bg);
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header .logo {
  margin-right: 71px;
}

.header .contact-link {
  margin-right: 40px;
}
.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.menu {
  display: inline-flex;
}

.menu-item:not(:last-child) {
  margin-right: 40px;
}

.menu-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.1em;
  color: var(--white);
}

.menu-link.current{
color: var(--accent-cl);
}

.menu-link:hover::after, .current::after{
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--accent-cl);
  margin-top: 15px;
}

/* !HERO */
.hero .container{
  background-image: url(../images/hero/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: left 115px top;
}
.hero-content {
  max-width: 470px;
  padding-bottom: 206px;
  padding-top: 152px;
  padding-left: 100px;
}

.social {
  display: inline-flex;
}
.social-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636;
  letter-spacing: 0.2em;
  color: var(--black);
}

.social-item:not(:last-child) {
  margin-right: 40px;
}

.title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: var(--black);
}
.section-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 42px;
  line-height: 1.1667;
}
.section-label {
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--black);
}

.section-label::before{
  content: "";
  display: block;
  width: 60px;
  height: 1px;
  background-color: currentColor;
  margin-right: 20px;
}

.page-title {
  margin-bottom: 20px;
  font-size: 72px;
  line-height: 1.18;
}

/* !PRICE */
.price-list-wrap{
  display: flex;
  flex-wrap: wrap;
}

.price{
  background-image: url(../images/price/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right;
}


.price-list {
  width: 50%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.price-list:first-child{
  background: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);  
}

.price-list:last-child{
  background: linear-gradient(180deg, #090B13 0%, rgba(9, 11, 19, 0.2) 100%);
}
.price-item {
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}
.price-item:not(:nth-child(4n)) {
  margin-bottom: 20px;
}

.price-line {
  flex-grow: 1;
  border-bottom: 1px solid rgba(157, 164, 189, 0.12);
}

/* !TEAM */
.team {
  background-color: var(--light-grey);
}
.grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-right: -30px;
}

.team-item {
  text-align: center;
  flex-basis: calc((100% / 3) -30px);
  margin-left: 30px;
  margin-top: 30px;
  text-align: center;
}

.team-position {
  font-size: 14px;
  line-height: 1.357;
  letter-spacing: 0.02em;
  color: var(--accent-cl);
}

/* GALLERY */
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-top: -30px;
}

.gallery-item {
  margin-top: 30px;
  width: calc((100% / 4)-120px);
}
.gallery-item:not(:nth-child(4n)) {
  margin-right: 30px;
}

.item-title {
  font-weight: normal;
  line-height: 1.3889;
  letter-spacing: 0.02em;
  color: var(--black);
}

/* !ADDRESS */

.worktime {
  margin-top: 70px;
}


/* CONTACTS */
.section.dark-bg{
  padding: 0;
}
.contacts{
  padding: 130px 100px;
  background-image: url(../images/contacts/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left bottom;
}

.contacts-item:not(:last-child) {
  margin-bottom: 20px;
}
.contact-us{
  padding-top: 130px;
  padding-bottom: 130px;
}
/* !FOOTER*/
.footer {
  padding-top: 56px;
  padding-bottom: 56px;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  color: var(--gray);
}

.dark-bg {
  background-color: var(--dark-bg);
  color: var(--gray);
}

.dark-bg .section-title,
.dark-bg .page-title {
  color: var(--white);
}

.dark-bg .section-label {
  color: rgba(157, 164, 189, 0.6);
}

.dark-bg .btn {
  color: var(--white);
}

.content-box {
  width: calc((100% - 30px) / 2);
}

.flexbox {
  display: flex;
  justify-content: space-between;
}

/* SOCIAL ICONS */
.social-icons{
  display: flex;
  justify-content: center;
}

.social-icons-item:not(:last-child){
  margin-right: 10px;
}

.social-icons-link{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  border-radius: 50%;
  width: 44px;
  height: 44px;
}

.social-icons-link:hover .social-icons-svg, .social-icons-link:focus .social-icons-svg{
  fill: var(--accent-cl);
}

.social-icons-svg{
  width: 20px;
  height: 20px;
  fill: var(--black);
}