/* open-sans-regular - latin_cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/open-sans/open-sans-v18-latin_cyrillic-regular.eot");
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
    url("../fonts/open-sans/open-sans-v18-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/open-sans/open-sans-v18-latin_cyrillic-regular.woff2") format("woff2"),
    url("../fonts/open-sans/open-sans-v18-latin_cyrillic-regular.woff") format("woff"),
    url("../fonts/open-sans/open-sans-v18-latin_cyrillic-regular.ttf") format("truetype"),
    url("../fonts/open-sans/open-sans-v18-latin_cyrillic-regular.svg#OpenSans") format("svg");
}

/* open-sans-600 - latin_cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/open-sans/open-sans-v18-latin_cyrillic-600.eot"); /* IE9 Compat Modes */
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"),
    url("../fonts/open-sans/open-sans-v18-latin_cyrillic-600.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/open-sans/open-sans-v18-latin_cyrillic-600.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/open-sans/open-sans-v18-latin_cyrillic-600.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/open-sans/open-sans-v18-latin_cyrillic-600.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/open-sans/open-sans-v18-latin_cyrillic-600.svg#OpenSans") format("svg"); /* Legacy iOS */
}
/* open-sans-700 - latin_cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/open-sans/open-sans-v18-latin_cyrillic-700.eot"); /* IE9 Compat Modes */
  src: local("Open Sans Bold"), local("OpenSans-Bold"),
    url("../fonts/open-sans/open-sans-v18-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/open-sans/open-sans-v18-latin_cyrillic-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/open-sans/open-sans-v18-latin_cyrillic-700.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/open-sans/open-sans-v18-latin_cyrillic-700.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/open-sans/open-sans-v18-latin_cyrillic-700.svg#OpenSans") format("svg"); /* Legacy iOS */
}

:root {
  --main-text-cl: #555555;
  --accent-cl: #ff6c00;
  --black: #303030;
  --gray: #9da4bd;
  --white: #ffffff;
  --dark-bg: #191c26;
  --light-gray: #f7f7f7;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--main-text-cl);
}

h1,
h2,
h3,
p {
  margin-top: 0;
}

p {
  margin-bottom: 20px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  color: inherit;
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: var(--accent-cl);
}

.btn {
  display: inline-block;
  border: 1px solid var(--accent-cl);
  border-radius: 25px;
  padding: 12px 20px;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  background-color: transparent;
  color: var(--black);
  /* transition-duration: 5s;
  transition-property: background-color;
  transition-timing-function: linear;
  transition-delay: 2s; */
  transition: background-color 5s linear 2s, color 2s easy 1s;
}

.btn:hover,
.btn:focus {
  background-color: var(--accent-cl);
  color: var(--white);
}

.menu {
  display: inline-flex;
}

.menu-item:not(:last-child) {
  margin-right: 40px;
}

.menu-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.1em;
  color: var(--white);
}

.menu-link.current {
  color: var(--accent-cl);
}

.menu-link:hover:after,
.current::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--accent-cl);
  margin-top: 15px;
}

.social {
  display: inline-flex;
  align-items: center;
  color: var(--black);
}

.social-item:not(:last-child) {
  margin-right: 40px;
}

.social-link {
  display: block;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: inherit;
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons-item:not(:last-child) {
  margin-right: 10px;
}

.social-icons-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: var(--white);
  border-radius: 50%;
}

.social-icons-svg {
  width: 20px;
  height: 20px;
  fill: var(--black);
}

.social-icons-link:hover .social-icons-svg,
.social-icons-link:focus .social-icons-svg {
  fill: var(--accent-cl);
}

.title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: var(--black);
}

.page-title {
  margin-bottom: 20px;
  font-size: 72px;
  line-height: 1.18;
}

.section {
  padding-top: 130px;
  padding-bottom: 130px;
}

.section-title {
  margin-bottom: 20px;
  font-size: 42px;
  line-height: 1.167;
}

.section-label {
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--black);
}

.section-label::before,
.social::before {
  content: "";
  display: block;
  width: 60px;
  height: 1px;
  background-color: currentColor;
  margin-right: 20px;
}

.flexbox {
  display: flex;
  justify-content: space-between;
}

.content-box {
  width: calc((100% - 30px) / 2);
}

.item-title {
  line-height: 1.389;
  color: var(--black);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(25, 28, 38, 0.8);
  z-index: 100;
  opacity: 1;
  transition: all 0.5s ease-in;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.is-hidden .modal {
  transform: translate(-50%, 0%) scale(0.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 100%;
  max-width: 450px;
  background-color: #f7f7f7;
  padding: 80px 40px;
  transition: transform 0.5s;
}

.btn-close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid var(--ddark-bg);
  background-color: var(--dark-bg);
  color: white;
}
.message {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--white);
  font-size: 12px;
  z-index: 55;
}

.header .logo {
  margin-right: 71px;
}

.header .contact-link {
  margin-right: 40px;
}

.header .btn {
  color: white;
}

.header-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.hero .container {
  position: relative;
  background-image: url(../images/hero/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: left 115px top;
}

.hero-sidebar {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #fff;
  width: 115px;
  padding-left: 15px;
  padding-right: 30px;
  padding-bottom: 40px;
}

.hero-sidebar .social {
  transform: rotate(-90deg) translateX(50%);
}

.hero-content {
  max-width: 470px;
  padding-bottom: 170px;
  padding-top: 272px;
  margin-left: 200px;
}

.price {
  background-image: url(../images/price/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right;
}

.price-list-wrap {
  display: flex;
  flex-wrap: wrap;
}

.price-list {
  width: 50%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.price-list:first-child {
  background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.price-list:last-child {
  background-image: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.price-item {
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}

.price-item:not(:nth-child(4n)) {
  margin-bottom: 20px;
}

.price-line {
  flex-grow: 1;
  border-bottom: 1px solid rgba(157, 164, 189, 0.12);
}

.benefits-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin: auto;
  width: calc(((100% - 30px * 5) / 6 * 4) + 30px * 3);
}

.benefits-item {
  width: calc((100% - 30px * 1) / 2);
  padding: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: var(--black);
  background-color: var(--light-gray);
  /* background-color: #ff6c00; */
  margin-right: 30px;
  margin-bottom: 30px;
}

.benefits-item:nth-child(2n) {
  margin-right: 0;
  /* position: relative;
  top: 30px; - 1й способ*/
  transform: translateY(30px); /* - 2й способ */
  /* margin-top: 30px;
  margin-bottom: 0; - 3й способ */
}

.benefits-counter {
  font-weight: 700;
  font-size: 42px;
  letter-spacing: 0.05em;
}

.benefits-counter sup {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.375;
  color: var(--accent-cl);
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.grid-item {
  margin-left: 30px;
  margin-top: 30px;
}

.team {
  background-color: var(--light-gray);
}

.team-item {
  flex-basis: calc(100% / 3 - 30px);
  text-align: center;
}

.team-position {
  font-size: 14px;
  line-height: 1.357;
  color: var(--accent-cl);
}

.gallery-item {
  flex-basis: calc(100% / 4 - 30px);
}

.contacts {
  padding-left: 100px;
  padding-right: 100px;
  background-image: url(../images/contacts/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left bottom;
}

.contacts-item {
  position: relative;
  padding-left: 40px;
}

.contacts-item:not(:last-child) {
  margin-bottom: 20px;
}

.contacts-item::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center center;
}

.contacts-item:nth-child(1)::before {
  background-image: url(../images/contacts/map-pin.svg);
}

.contacts-item:nth-child(2)::before {
  background-image: url(../images/contacts/phone.svg);
}

.contacts-item:nth-child(3)::before {
  background-image: url(../images/contacts/mail.svg);
}

.worktime {
  margin-top: 70px;
}

.footer {
  padding-top: 56px;
  padding-bottom: 56px;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--gray);
}

.dark-bg {
  background-color: var(--dark-bg);
  color: var(--gray);
}

.dark-bg .page-title,
.dark-bg .section-title {
  color: var(--white);
}

.dark-bg .section-label {
  color: rgba(157, 164, 189, 0.6);
}

.dark-bg .btn {
  color: var(--white);
}
