.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(25, 28, 38, 0.8);
  z-index: 100;
  opacity: 1;
  transition: all 0.5s ease-in;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.is-hidden .modal {
  transform: translate(-50%, 0%) scale(0.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 100%;
  max-width: 450px;
  background-color: #f7f7f7;
  padding: 80px 40px;
  transition: transform 0.5s;
}

.btn-close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid var(--ddark-bg);
  background-color: $dark-bg;
  color: white;
}
.message {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}
