.contacts {
  background-image: url(../images/contacts/mobile/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left bottom;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (-o-min-device-pixel-ratio: 2/1),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url(../images/contacts/mobile/bg@2x.png);
  }

  @include for-size(tablet) {
    background-image: url(../images/contacts/tablet/bg.png);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (-o-min-device-pixel-ratio: 2/1),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/contacts/tablet/bg@2x.png);
    }
  }

  @include for-size(desktop) {
    background-image: url(../images/contacts/desktop/bg.png);
    padding-left: 100px;
    padding-right: 100px;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (-o-min-device-pixel-ratio: 2/1),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/contacts/desktop/bg@2x.png);
    }
  }
}

.contacts-item {
  position: relative;
  padding-left: 40px;
}

.contacts-item:not(:last-child) {
  margin-bottom: 20px;
}

.contacts-item::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center center;
}

.contacts-item:nth-child(1)::before {
  background-image: url(../images/contacts/map-pin.svg);
}

.contacts-item:nth-child(2)::before {
  background-image: url(../images/contacts/phone.svg);
}

.contacts-item:nth-child(3)::before {
  background-image: url(../images/contacts/mail.svg);
}

.worktime {
  margin-top: 70px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .contacts .section-title {
    width: 100%;
  }

  .address,
  .worktime {
    width: calc((100% - 30px) / 2);
  }

  .worktime {
    margin-top: 0;
  }
}
